body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

h2{
  font-size: 36px;
  font-style: italic;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 900px;

}

header nav ul li {
  margin: 0 1em;
}


header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover {
  background-color: #333;
  color: #fff;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}


#inicio {
  background-image: url(https://wallpapercave.com/wp/wp2178497.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  color: #fff;
  overflow: hidden;
}

#inicio h1 {
  font-size: 3em;
  font-family: impact;
  color: orange;
  letter-spacing: 4px;
  font-size: 56px;
  margin-top: 25%;
  margin-left: 20px;
}

#inicio p {
  margin-left: 20px;
  max-width: 45%;
  font-size: 24px;
  letter-spacing: 2px;
}

#productos{
  text-align: center;
  display: grid;
  justify-content: center;
}

.productos {
  display: grid;  
  grid-gap: 4em;
  padding: 2em;
  max-width: 1000px;
  grid-template-columns: repeat(3, 1fr);
  
}


#productos .producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  width: 100%;
  border: solid #ddd 1.5px;
}

.producto {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  display: inline-block;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

#productos .producto img {
  max-width: 100%;
  height: auto;
  width: 100%;
  max-height: 300px;
  min-height: 300px;
}

#precio{
  font-family: impact;
  font-size: 20px;;
}


#contacto {
  background-color: #333;
  color: #fff;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes {
  margin-bottom: 1em;
}

.redes a {
  font-size: 2em;
  margin: 0 1em;
  color: gray;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  font-style: italic;
  
}

.redes a:hover {
  color: black;
}


.boton {
  padding: 1em 2em;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.boton:hover {
  background-color: black;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

@media screen and (max-width: 1200px){
  .productos {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    padding: 0.5em;
  }

  #inicio h1 {
    margin-top: 45%;
  }
  #inicio p{
    max-width: 65%;
  }
}

@media screen and (max-width: 835px){
  .productos {
    grid-template-columns: repeat(1, 1fr);
  }

  #inicio h1 {
    margin-top: 55%;
    font-size: 48px;
    
  }

  #inicio p{
    font-size: 20px;
    max-width: 65%;
  }

  .redes{
    display: block;
    font-size: 8px;
  }
}


